<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<title>{{ page.title }}</title>
</head>

<body>
<div class="container">
<!-- head of site -->
<div class="header">
<!--<div class="title"><h2>T-Design</h2></div>-->
<div class="menu">
<a href="#">Quosar</a>
<a href="https://twitter.com/iamrahulmohite">Home</a><a href="#">About</a><a href="#">Create</a>
<input type="input" placeholder="Search" class="sr"/>
</div>
</div>
<!-- head ends here -->

<!-- main body -->
<div class="main">
<br/>
{{ content }}

</div>
<!-- main ends here -->
</div>
</body>
</html>
